* {
    margin: 0;
    padding: 0;
}
.container {
    padding: 10px;;
    border:1px solid grey;
    box-sizing: border-box;
}
header {
    padding:10px;
    border:1px solid grey;
    text-align: center;
    border-radius: 10px;
    color: cadetblue;
    box-shadow: 1px 1px 5px;
}
main {
    margin-top: 10px;;
    padding: 10px;;
    text-align: center;
}
.form {
    padding:10px;
    border:1px solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}
.allNotes {
    padding:10px;
    margin-top: 10px;;
    border:1px solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
    height:260px;
    overflow: scroll;
}
.allNotes div {
    padding: 10px;
    font-weight: bold;
    margin-top: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid cadetblue;
    box-sizing: border-box;
}
.allNotes div:hover {
    background-color: cadetblue;
    color: white;
    transition: 2s all;
}
.allNotes div .postedDate {
    margin-top: 11px;
    font-weight: bold;
    color: grey
}
.form-group {
padding:5px;
}
.form-group textarea {
    height: 80px;
    width:100%;;
    box-sizing: border-box;
    padding: 10px;
    
}
.form-group label {
    display: block;
    margin-bottom: 5px;;
    font-weight: bold;;
    font-size: 24px;
    color: cadetblue;
}
.form-group button {
    height:40px;
    width:100%;
    font-weight: bold;
    font-size: medium;
    /* color: cadetblue; */
    background-color: cadetblue;
    color: white;
}